@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}


body {
    font-family: 'Manrope', sans-serif;
};

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
